# Node.js related (frontend)
/frontend/node_modules
/frontend/.svelte-kit
/frontend/.turbo
/frontend/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SvelteKit specific (frontend)
/frontend/.svelte-kit
/frontend/.turbo
/frontend/build

# dotenv environment variables file (both frontend and backend)
frontend/.env
frontend/.env.local
frontend/.env.*.local
backend/.env
backend/.env.local
backend/.env.*.local

# Python related (backend)
backend/__pycache__/
backend/*.py[cod]
backend/*.sqlite3
backend/*.db
backend/*.sqlite


# Virtual environment (backend)
/backend/venv/
backend/venv
backend/*.egg-info/

# Flask specific (backend)
backend/instance/
backend/.pytest_cache/
backend/*.pyc

# VS Code specific
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
